.top-banner{
    height: 550px;
    width: 1200px;
   
}
.top-banner .right-box{
    width: 295px;
    height: 456px;
    box-sizing: border-box;
}
.top-banner .right-box  .top-title{
    width:297px;
    height: 30px;
    background-color: rgb(131, 194, 37);
}
.top-banner .right-box .top-title h1{
    text-align:left;
    height:36px;
    line-height: 36px;
    font-size: 20px;
    color:white;

}
.top-banner .right-box ul li{
    line-height: 42px;
    font-size: 16px;
    text-indent: 5px;
}

/*新书列表交互相关样式*/
.top-banner .right-box ul li .desc{
    font-size: 14px;
    line-height: 18px;
    height:150px;
    color:#474747;
    display: none;
}
.top-banner .right-box ul li:first-child .ebooks-title{
    /*默认所有标题都显示，只要第一个隐藏*/
    display: none;
}
.top-banner .right-box ul li:first-child .desc{
    display: block;
}












.ez {
    height: 546px;
    margin: 50px, auto;
}

.ez .ez-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 6px solid #ff6700;
    background-color: #fff;
    color: #ff6700;
    font-size: 20px;
    text-indent: 20px;
}

.ez .ez-title h1 {
    font-weight: 200px;
}

.ez .ez-title ul li {
    float: left;
    width: 100px;
    font-size: 14px;
    color: #333;
}

.ez .ez-title ul li.active {
    background-color: #ff6700;
    color: #fff;
}

.ez .ez-content {
    height: 500px;
}

.ez-list {
    width: 1200px;
    height: 440px;
}

.ez-list p {
    width: 200px;
    height: 220px;
    float: left;
    border: 1px solid #333;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
}

.ez-list p img {
    width: 70% !important;
    height: 70% !important;
}

.ez-list p span:last-child {
    color: red;
}

.ez-list p .ccc {
    color: #ccc;
}

.ez-list p .yj {
    color: #ccc !important;
    text-decoration: line-through;
    font-size: 12px;
}

.guess-you-like{
    width: 1200px;
    height:500px;
    background-color: firebrick;
}

.guess-you-like-title{
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    color: #ff6700;
    border-bottom: 6px solid #ff6700;
    background-color: white;
    text-indent: 20px;
    
}

.guess-you-like-title h1{
    font-size: 500;
}
.guess-you-like-content{
   width: 1200px;
   height: 500px;
   background-color: white;
}
/* 上下滑动 */
 .out-box{
    overflow: hidden;
}
.inner-box{
height: 1500px;
position: relative;
top:0;
} 
/* 左右滑动 */
/* .out-box{
    overflow: hidden;
}
.inner-box{
width:3600px;
position: relative;
left:0;
} */

.guess-you-like-content li img{
    width: 100%;
    height: 100%;
}
.guess-you-like-content .inner-box .ez-list {
    width: 1200px;
    height: 500px;
}

.guess-you-like-content .inner-box .ez-list p {
    width: 200px;
    height: 220px;
    float: left;
    border: 1px solid #333;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
}

.guess-you-like-content .inner-box .ez-list p img {
    width: 70% !important;
    height: 70% !important;
}

.guess-you-like-content .inner-box .ez-list p span:last-child {
    color: red;
}

.guess-you-like-content .inner-box .ez-list p .ccc {
    color: #ccc;
}

.guess-you-like-content .inner-box .ez-list p .yj {
    color: #ccc !important;
    text-decoration: line-through;
    font-size: 12px;
}